

.auth_contenedor{
  display: flex;
  justify-content: center;
  align-items: center;
  background: $primary;
  width: 100vw;
  height: 100vh;
}

@mixin boxCreate($ancho: 250px, $alto: 280px, $justifyContent: space-around) {

    display: flex;
    flex-direction: column;
    justify-content: $justifyContent;
    padding: 10px 20px 10px 20px;
    background: $blanco ;
    width: $ancho;
    height: $alto;
    border-radius: 15px;
  
}

.auth_box{
 @include boxCreate;
}

.auth_title {
  margin-top: 10px;
  color: $dark-grey;
}

.auth_form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
}

.auth_google-box{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.auth_google-box p{
  font-size: 10px;
}


@mixin inputCreate($alto:25px, $paddin:  0 0 0 10px) {
  height: $alto;
  border: none;
  border-bottom:1px solid $whithe-gray;
  transition: border-bottom  .50s ease;
  padding: $paddin;
  
  &:focus{
    outline:none;
    border-bottom:1px solid $primary;
   
    background: linear-gradient(to bottom, rgba(146, 8, 8, 0), lighten($color: $primary, $amount:70));
  
  }
    
}
.auth_input{
  @include inputCreate;

  }
